## Deliverable 2. Create a Customer Travel Destinations Map.

In [15]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from Config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [6]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
0,0,Bethel,US,2021-10-06 20:19:57,41.3712,-73.4140,70.48,79,90,3.44,overcast clouds,0,0
1,1,Rajanpur,PK,2021-10-06 20:15:28,29.1035,70.3250,89.33,31,0,5.57,clear sky,0,0
2,2,Korla,CN,2021-10-06 20:20:01,41.7597,86.1469,58.42,32,100,4.12,overcast clouds,0,0
3,3,Jamestown,US,2021-10-06 20:17:00,42.0970,-79.2353,78.03,64,20,7.00,few clouds,0,0
4,4,Bluff,NZ,2021-10-06 20:20:03,-46.6000,168.3333,50.81,93,69,4.43,broken clouds,0,0

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
print("What is your minimum temperature preference?")
min_temp = float(input("min_temp: "))

print("What is your maximum temperature preference?")
max_temp = float(input("max_temp: "))

What is your minimum temperature preference?
min_temp: 50
What is your maximum temperature preference?
max_temp: 90

In [9]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
0,0,Bethel,US,2021-10-06 20:19:57,41.3712,-73.4140,70.48,79,90,3.44,overcast clouds,0,0
1,1,Rajanpur,PK,2021-10-06 20:15:28,29.1035,70.3250,89.33,31,0,5.57,clear sky,0,0
2,2,Korla,CN,2021-10-06 20:20:01,41.7597,86.1469,58.42,32,100,4.12,overcast clouds,0,0
3,3,Jamestown,US,2021-10-06 20:17:00,42.0970,-79.2353,78.03,64,20,7.00,few clouds,0,0
4,4,Bluff,NZ,2021-10-06 20:20:03,-46.6000,168.3333,50.81,93,69,4.43,broken clouds,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,547,Gimli,CA,2021-10-06 20:25:03,50.6336,-96.9907,83.43,60,89,12.66,overcast clouds,0,0
548,548,Kijang,KR,2021-10-06 20:25:04,35.2442,129.2139,67.73,81,9,2.84,clear sky,0,0
549,549,Itarema,BR,2021-10-06 20:25:04,-2.9248,-39.9167,81.36,75,94,17.96,overcast clouds,0,0
551,551,Ngunguru,NZ,2021-10-06 20:25:05,-35.6167,174.5000,62.17,91,100,13.38,overcast clouds,0,0
552,552,Gladstone,AU,2021-10-06 20:25:06,-23.8500,151.2500,61.79,82,0,4.61,clear sky,0,0

In [10]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                       0
City                          0
Country                       9
Date                          0
Lat                           0
Lng                           0
Max Temp                      0
Humidity                      0
Cloudiness                    0
Wind Speed                    0
Current Description           0
Rain inches (last 3 hours)    0
Snow inches (last 3 hours)    0
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
0,0,Bethel,US,2021-10-06 20:19:57,41.3712,-73.4140,70.48,79,90,3.44,overcast clouds,0,0
1,1,Rajanpur,PK,2021-10-06 20:15:28,29.1035,70.3250,89.33,31,0,5.57,clear sky,0,0
2,2,Korla,CN,2021-10-06 20:20:01,41.7597,86.1469,58.42,32,100,4.12,overcast clouds,0,0
3,3,Jamestown,US,2021-10-06 20:17:00,42.0970,-79.2353,78.03,64,20,7.00,few clouds,0,0
4,4,Bluff,NZ,2021-10-06 20:20:03,-46.6000,168.3333,50.81,93,69,4.43,broken clouds,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,547,Gimli,CA,2021-10-06 20:25:03,50.6336,-96.9907,83.43,60,89,12.66,overcast clouds,0,0
548,548,Kijang,KR,2021-10-06 20:25:04,35.2442,129.2139,67.73,81,9,2.84,clear sky,0,0
549,549,Itarema,BR,2021-10-06 20:25:04,-2.9248,-39.9167,81.36,75,94,17.96,overcast clouds,0,0
551,551,Ngunguru,NZ,2021-10-06 20:25:05,-35.6167,174.5000,62.17,91,100,13.38,overcast clouds,0,0
552,552,Gladstone,AU,2021-10-06 20:25:06,-23.8500,151.2500,61.79,82,0,4.61,clear sky,0,0

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bethel,US,70.48,overcast clouds,41.3712,-73.4140,
1,Rajanpur,PK,89.33,clear sky,29.1035,70.3250,
2,Korla,CN,58.42,overcast clouds,41.7597,86.1469,
3,Jamestown,US,78.03,few clouds,42.0970,-79.2353,
4,Bluff,NZ,50.81,broken clouds,-46.6000,168.3333,
5,Kahta,TR,58.37,clear sky,37.7855,38.6237,
6,Nemuro,JP,51.19,overcast clouds,43.3236,145.5750,
9,Esqueda,MX,83.80,clear sky,30.7167,-109.5833,
12,Dauphin,CA,78.94,clear sky,51.1494,-100.0502,
14,Hermanus,ZA,61.81,clear sky,-34.4187,19.2345,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [16]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bethel,US,70.48,overcast clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
1,Rajanpur,PK,89.33,clear sky,29.1035,70.3250,Style Inn Shoes Rajanpur
2,Korla,CN,58.42,overcast clouds,41.7597,86.1469,Gulisitan Hotel
3,Jamestown,US,78.03,few clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
4,Bluff,NZ,50.81,broken clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
...,...,...,...,...,...,...,...
547,Gimli,CA,83.43,overcast clouds,50.6336,-96.9907,Lakeview Gimli Resort
548,Kijang,KR,67.73,clear sky,35.2442,129.2139,Samyang Beach Villa
549,Itarema,BR,81.36,overcast clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
551,Ngunguru,NZ,62.17,overcast clouds,-35.6167,174.5000,Pacific Rendezvous Motel Resort
552,Gladstone,AU,61.79,clear sky,-23.8500,151.2500,Highpoint International

In [18]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))